<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("../partials/header") %> 

          
    <!-- Aquí va el formulario de registro -->
    <main>
        <div>
            <h3 class="titular__registrese">ABM de usuarios</h3>
            <a href="/users/crear"><h3 class="tit-interno-abm-user">Dar de alta un usuario administrador </h3></a>
            <hr>
            <h3 class="tit-interno-abm-user">Editar o eliminar usuarios existentes</h3>
            <% usuarios.forEach (usuario => { %>
            <p class="parrrafo-usuario">    <%= usuario.nombre %>. ID: <%= usuario.id %> <br>
                                            Tipo de usuario: <%= usuario.tipo %><br>
                                            <a href="/users/editar/<%= usuario.id %>">Editar</a> - <a href="/users/eliminar/<%= usuario.id %>">Eliminar</a>
                                        </p>
            <% }) %>
        </div>




        
    </main>

    <%- include("../partials/footer") %>

    <!-- link al archivo para la validacion del formulario-->
    </body>
</html>

