<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias de procductos</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("../partials/header") %> 
          
    <main>
        <!-- Section para el banner -->
               

        <!-- Sección "ofertas" -->
        <section>
            <h3 class="main__titulares">Las <%= categorias.length %>  categorias de los productos en venta</h3>
            
            <div class="main__texto-categorias">

                    <% categorias.forEach( categoria => { %>
                        <a class="a__link-gral" href="/productos/categorias/<%= categoria %>"><p class="main__parrafos"><%= categoria %></p></a>
                    <% }) %> 

            </div> 
        </section>
    </main>

    <%- include("../partials/footer") %>
    
    
</body>
</html>
