<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("../partials/header") %> 
          
    <main>
       
        <!-- Seccion para mostar el producto -->
        <section>
        <% if (producto) { %>
            <h3 class="main__titulares"><%= producto.categoria%>  </h3>
        <% } %>
        </section>
        <section class="main__prod-section">
        <div class="div-columnas-flex">
            <div class="texto-columna">
            <h3 class="main__h3-title"><%= producto.titulo %></h3>
            <div class="main__div-img-position">
                <img class="main__img"  src="/images/<%= producto.imagen %>">
            </div>
            <div>
                <div class="div-precio-descuento-flex">
                    <p class="main_p">$<%= producto.precio %></p>
                    <% if (producto.descuento > 0) { %> 
                    <p class="main_p-descuento">Descuento <%= producto.descuento %>%</p>
                <% } %>
                </div>

                <% if (producto.nuevo == true ) { %>
                <p class="texto-usado-nuevo">Producto nuevo</p>
                <% } else { %>  
                <p class="texto-usado-nuevo">Producto usado</p>
                <% } %>  
            </div>

            <div class="main__div-img-position">
                <a class="link-boton" href=""><p class="boton-comprar">Comprar Ahora</p></a>
            </div>
            </div>
            <div class="texto-columna">
                <p class="texto-detalle-titulo">Detalle del producto</p>
                <p class="texto-detalle"><%= producto.detalle %></p>
            </div>
        </div>
        </section>


        
    </main>

    <%- include("../partials/footer") %>
    
    
</body>
</html>